// font-family: 'Montserrat', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

// in dev mode.
html.dev {
  height: 100%;
  body {
    height: 100%; margin: 0; padding: 0;
    #root {
        display: flex; align-items: center; justify-content: center;
        .App {
          width: 50%;
        }
    }
  }
}

// in prod mode.

.App.theme_light {
  background-color: white;
  color: black;
}

.App.theme_dark {
  background-color: #1e242e;
  color: white;
}

// app 

.App , #root {
  text-align: center;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}